@font-face {
  font-family: IPA;
  src: url("fonts/ipam.ttf");
}
body {
  font-size: 15pt;
  color:#eee;
  font-family:IPA;
  background-color: #222;
}
.card-body {
  background-color:#333;
}
.dropdown-menu {
  background-color:#333;
}
.dropdown-item {
  color: #eee;
}
#content:empty ~ .hpp {
  visibility: hidden;
}
.hpp {
  opacity:0.9;
}
.btn-round {
	border-radius: 50%;
}
#btn-play {
    width: 80px;
	height: 80px;
    border: solid 2px;
    position: fixed;
	bottom: 5px;
	right: calc( 50% - 70px);
    font-size: 18px;
}
#btn-rt {
    width:50px;
    position: fixed;
	bottom: 25px;
	right: calc( 50% + 116px);
    font-size: 10x;
    padding: 10px 0;
}
#btn-enSRT {
    width:50px;
    position: fixed;
	bottom: 25px;
	right: calc( 50% + 64px);
    font-size: 10x;
    padding: 10px 0;
}
#btn-jaSRT {
    width:50px;
    position: fixed;
	bottom: 25px;
	right: calc( 50% + 12px);
    font-size: 10x;
    padding: 10px 0;
}
#btn-next {
    width:50px;
    position: fixed;
	bottom: 25px;
	right: calc( 50% - 174px);
    font-size: 15px;
    padding: 10px 0;
}
#btn-prev {
    width:50px;
    position: fixed;
	bottom: 25px;
	right: calc( 50% - 122px);
    font-size: 15px;
    padding: 10px 0;
}

rt {
  white-space:nowrap !important;
  visibility: hidden;
}
tr > td:nth-child(3) {
  filter: blur(3px);
  transition: filter 0.25s ease;
  padding-left: 5px !important;
}
.visible-visibility {
  visibility: visible !important;
}
.blur-none {
  filter: blur(0) !important;
  transition: filter 0.25s ease;
}


#accordion,.card,.card-header {
  background-color:#222;
}

.btn-noneBorder {
  border-radius:0;
}

.shade-color {
  animation: hue-rotate 3s linear infinite;
}

@keyframes hue-rotate {
  from {
    -webkit-filter: hue-rotate(0);
    -moz-filter: hue-rotate(0);
    -ms-filter: hue-rotate(0);
    filter: hue-rotate(0);
    opacity:0.9;
  }
  to {
    -webkit-filter: hue-rotate(360deg);
    -moz-filter: hue-rotate(360deg);
    -ms-filter: hue-rotate(360deg);
    filter: hue-rotate(360deg);
    opacity: 0.8;
  }
}

@media (orientation: landscape) {
  #btn-play {
    width: 80px;
	height: 80px;
    border: solid 2px;
    position: fixed;
	bottom: calc( 50% - 40px );
	right: 5px;
    font-size: 18px;
}
#btn-rt {
    width:50px;
    position: fixed;
	bottom: calc( 50% - 164px);
	right: 20px;
    font-size: 10x;
    padding: 10px 0;
}
#btn-enSRT {
    width:50px;
    position: fixed;
	bottom: calc( 50% - 122px);
	right: 20px;
    font-size: 10x;
    padding: 10px 0;
}
#btn-jaSRT {
    width:50px;
    position: fixed;
	bottom: calc( 50% - 80px);
	right: 20px;
    font-size: 10x;
    padding: 10px 0;
}
#btn-next {
    width:50px;
    position: fixed;
	bottom: calc( 50% + 42px);
	right: 20px;
    font-size: 15px;
    padding: 10px 0;
}
#btn-prev {
    width:50px;
    position: fixed;
	bottom: calc( 50% + 84px);
	right: 20px;
    font-size: 15px;
    padding: 10px 0;
}

}